doctype
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='description', content='Super Page Here')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title
            block title
        block links
            link(href='css/main.min.css', rel='stylesheet')
    body
        //
            begin project
            Edit important meta(name='description', content='Super Page Here')

        //- include sections/header
        //- include sections/
        //- include sections/
        //- include sections/
        .container
            .row
                .col Column
                .col Column
                .w-100
                .col Column
                .col Column
            .row
                .col
                    span(data-toggle="tooltip" data-placement="left" title="Tooltip on top") Lorem
                    |  ipsum, dolor sit amet consectetur adipisicing elit. Nulla accusamus corporis repellat voluptatem officiis adipisci maxime quaerat, mollitia aliquam cumque minima asperiores assumenda corrupti ducimus nesciunt ex officia sint obcaecati.

                .col
                   button(type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top") Tooltip on top

                .col
                    a(href="#" data-toggle="tooltip" title="Some tooltip text!") Hover over me

                    <!-- Generated markup by the plugin -->
                    .tooltip.bs-tooltip-top(role="tooltip")
                        .arrow
                        .tooltip-inner  Some tooltip text!
            .row
                .col
                    button(type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover scam title" data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover


        // JS

        script(src='js/main.js')



