- var imgAuthor = '../../images/author.jpg'
- var imgPhoto1 = '../../images/photo-1.jpg'
- var imgPhoto2 = '../../images/photo-2.jpg'
- var imgPhoto3 = '../../images/photo-3.jpg'

- var txtHere1 = '1111Some quick example text to build on the card title and make up the bulk of the cards content'
- var txtHere2 = 'Some quick example text to build on the card title and make up the bulk of the cards content'
- var txtHere3 = 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic cumque tempora voluptas veniam suscipit vel reiciendis deserunt autem. Consequatur reiciendis incidunt quae ipsum porro consequuntur voluptates libero perferendis'
- var smallText = 'last updated 3 mins ago'
- var smallText2 = 'last updated 7 mins ago'
- var smallText3 = 'last updated 59 mins ago'
- var pageLink = ['Previous','1','2','3','Next']

- var Section1 = "Section1"
- var Section2 = "Section2"
- var Section3 = "Section3"
- var Section4 = "Section4"
- var Section5 = "Section5"
